.editable-text {
    cursor: pointer;
}
.editable-text:hover {
    color: gray;
}
.crew {
    padding: 40px;
    margin-left: 200px;
}
.input {
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 25px;
}